/* .my-btn{background-color: #000 !important; color: #fff; font-weight: bold; padding-top: 10px; padding-bottom: 10px;}
.my-btn:hover{color: #fff; background-color: rgb(37, 159, 199) !important;} */

.login-span{color: #0dc1c4;}